<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Form</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .container {
        min-height: 100vh;
        max-height: fit-content;
        /* background-color: hsl(0, 0%, 80%); */
        padding: 1rem;
      }
      p {
        font-size: 4rem;
        padding: 10px 0;
        color: rgb(0, 149, 255);
      }
      form {
        border: none;
        display: grid;
        width: fit-content;
        align-items: center;
      }
      form input {
        width: 400px;
        height: 100px;
        margin-top: 30px;
        border: 1.5px solid black;
        padding: 10px;
        border-radius: 10px;
      }
      .form {
        padding: 1rem;
        border: 1px solid;
        width: 500px;
        margin: 5rem auto;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
      }
      .btn{
        padding: 10px 50px;
        border-radius: 10px;
        background-color: rgb(0, 64, 255);
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        position: relative;
        left: 300px;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <a href="/">Go back </a>
        <div class="form">
          <p>Edit message</p>
  
          <form action="/updateMsg/<%= user[0].id %>" method="post">
            <div >
              To: <input style="height: 50px; margin-left:38px "type="text" name="username" placeholder="username"value="<%= user[0].username%>" readonly />
            </div>
            <div>
              Message:
              <input
              required
                name="message"
                placeholder="write your message"
                value="<%= user[0].message%>"
              ></input>
            </div>
            <div>
              <button class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
</html>
